/* ---------- 页面初始化 ---------- */

/* 根据屏幕宽高比确定显示宽度 */
@media (max-aspect-ratio:1/1) {
	html {
		/* 竖屏 */
		--window-width: 100vw;
	}
}
@media (min-aspect-ratio:1/1) {
	html {
		/* 横屏 */
		--window-width: 25vw;
	}
}
html {
	/* ---------- 关键样式值 ---------- */
	
	/* 顶部标题栏高度 */
	--title-height: calc(var(--window-width) * .15);
	/* 底部导航栏高度 */
	--nav-height: calc(var(--window-width) * .15);
}
body {
	margin: 0;
	
	font-family: 'Helvetica';
	font-size: calc(var(--window-width) * .05);
}
img {
	vertical-align:middle;
}

/* ---------- 页面布局 ---------- */

/* 顶部标题栏 */
header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10;
	
	box-sizing: border-box;
	width: var(--window-width);
	height: var(--title-height);
	
	line-height: var(--title-height);
	text-align: center;
	font-size: calc(var(--title-height) * .5);
	
	background-color: #fff;
	border: solid 1px #eee;
	box-shadow: 0 1px 1px rgba(127,127,127,.2);
}

/* 底部导航栏 */
nav {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 10;
	
	width: var(--window-width);
	height: var(--nav-height);
	display: flex;
	
	background-color: #fff;
	box-shadow: 0 -1px 1px rgba(127,127,127,.2);
}
nav .nav-img {
	height: calc(var(--nav-height) * .5);
}
.nav-item {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	font-size: calc(var(--nav-height) * .3);
	
	border: solid 1px #eee;
}
.nav-item:hover {
	cursor: pointer;
}
.nav-item .nav-img-normal {
	display: block;
}
.nav-item .nav-img-active {
	display: none;
}
.nav-item.active {
	color: #fff;
	
	background-color: #5798D8;
	border: solid 1px #5798D8;
}
.nav-item.active .nav-img-normal {
	display: none;
}
.nav-item.active .nav-img-active {
	display: block;
}

/* 主体内容 */
.main {
	position: absolute;
	top: var(--title-height);
	left: 0;
	right: 0;
	margin: auto;
	
	width: var(--window-width);
	height: calc(100vh - var(--title-height) - var(--nav-height));
	
	background-color: #fff;
	
	overflow: auto;
}
.main-item {
	display: none;
	padding: calc(var(--window-width) * .1);
}
.main-item.active {
	display: flex;
}

/* 黑色幕布 */
.mask {
	position: fixed;
	top: 0;
	left: 0;
	margin: auto;
	z-index: 11;
	
	width: var(--window-width);
	height: 100vh;
	display: none;
	
	background-color: #000;
}
.mask.active {
	display: block;
}

/* ---------- 分页面 ---------- */

/* 首页 */
.main-homepage {
	flex-direction: column;
	align-items: center;
	
	background-color: pink;
}
.homepage-photo-box {
	position: relative;
	
	width: calc(var(--window-width) * .5);
	height: calc(var(--window-width) * .5);
	margin-bottom: calc(var(--window-width) * .1);
	display: flex;
	
	overflow: hidden;
}
.homepage-photo-box.click {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 11;
	
	width: var(--window-width);
	height: 100vh;
	
	background-color: #000;
}
.homepage-photo {
	position: absolute;
	left: 0;
	top: 0;
	
	width: 100%;
	display: none;
	transition: 1s linear left;
}
.homepage-photo.click {
	/* position: fixed; */
	z-index: 20;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	
	width: var(--window-width);
}
.homepage-photo.active {
	display: block;
}
.homepage-item {
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}
.homepage-item-title {
	font-weight: 700;
}

/* 技术栈 */
.main-technology-stack {
	background-color: darkseagreen;
}

/* 工作经历 */
.main-work-experience {
	background-color: lightskyblue;
}

/* 其他 */
.main-other {
	background-color: yellow;
}
